/*************
FONTS
************/

h1,h2{font-family: 'Lobster', cursive;text-align: right;font-size: 40px}/* Color for the header*/

/*************
MAIN PAGE POSITIONING
************/

.center img{	width: 100%;
	}

/*********
MAIN PAGE APPERANCE
**********/


.top,.middle
{
	border-bottom: 4px dotted black;
}

.logo{
	width: 48%;
	height: 48%;
}

.bottom img{
	width: 100%;
	margin-top: 3%;

}

.bottom p{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	text-align: center;
	font-size: 20px;
}

/******************
RESPONSIVE
******************/

@media screen and (min-width: 200px) and (max-width: 1000px)
{
	h1,h2
	{
		text-align: center;font-size: 16px
	}
	.logo
	{
		float: left;height: 100px;width: 100px
	}
	
}




	
	
